@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=My+Soul&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-branco-principal: rgba(246, 246, 246, 0.9);
    --branco-principal: #f6f6f6;
    --preto: #000000;
    --destaque: #c91e1e;
    --fonte-titulos: 'My Soul';
    --fonte-texto: 'Montserrat', sans-serif;
}

body {
    font-family: var(--fonte-texto);
    background-image: url("../img/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}