.form {
    background-color: var(--background-branco-principal);
    box-shadow: 0 0.5em 1em var(--preto);
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    margin: auto;
    padding: 5em;
    border-radius: 1em;
    margin-top: 5%;
}

.form h1 {
    font-family: var(--fonte-titulos);
    color: var(--destaque);
    font-size: 3em;
    text-align: center;
    margin-bottom: .5em;
}

.form label {
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: .25em;
}

.form input {
    background-color: var(--branco-principal);
    font-family: var(--fonte-texto);
    padding: .5em;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 1.2em;
    border-radius: 1em;
    border: none;
    outline: none;
}

.form small {
    font-size: .8em;
    font-family: var(--fonte-texto);
    font-weight: 400;
    color: var(--destaque);
    margin-bottom: .2em;
}

.form button {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: .25em;
    padding: .5em;
    border-radius: 1em;
    border: none;
    outline: none;
    background-color: var(--destaque);
    color: var(--branco-principal);
}