.result {
    display: none;
}

.result.show{
    display: flex;   
    flex-direction: row;
    background-color: var(--background-branco-principal);
    box-shadow: 0 0.5em 1em var(--preto);
    height: auto;
    width: 75vw;
    padding: 2%;
    border-radius: 1em;
    margin: 2% auto 5%;
    justify-content: center;
}

.arcano {
    height: 50vh;
    padding-right: 5%;
    border-radius: 1em;
}

.resultTitle {
    font-family: var(--fonte-titulos);
    color: var(--destaque);
    font-size: 3em;
    margin-bottom: .25em;
}

.arcanoName {
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 2em;
    margin-bottom: .25em;
}

.resultSubTitle {
    font-family: var(--fonte-titulos);
    color: var(--destaque);
    font-size: 2em;
    margin-bottom: .25em;
}

.arcanoSignificado {
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: .25em;
}

