.result {
    display: none;
}

.result.show{
    display: flex;   
    flex-direction: row;
    background-color: var(--background-branco-principal);
    box-shadow: 0 0.5em 1em var(--preto);
    height: auto;
    width: 75vw;
    padding: 2dvh;
    border-radius: 1em;
    margin: 2dvh auto 5dvh;
}

.arcano {
    height: 50vh;
    padding-right: 5dvh;
    border-radius: 1em;
}

.resultTitle {
    font-family: var(--fonte-titulos);
    color: var(--destaque);
    font-size: 2em;
    text-align: center;
    margin-bottom: .5em;
}   