.result {
    display: none;
}

.result.show{
    display: flex;   
    flex-direction: row;
    background-color: var(--background-branco-principal);
    box-shadow: 0 0.5em 1em var(--preto);
    height: auto;
    width: 75vw;
    padding: 2%;
    border-radius: 1em;
    margin: 2% auto 5%;
    justify-content: space-between;
    gap: 2%;
    box-sizing: border-box;
}

.arcano {
    height: 50vh;
    border-radius: 1em;
}

.resultTitle {
    font-family: var(--fonte-titulos);
    color: var(--destaque);
    font-size: 3em;
    margin-bottom: .25em;
}

.arcanoName {
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 2em;
    margin-bottom: .25em;
}

.resultSubTitle {
    font-family: var(--fonte-titulos);
    color: var(--destaque);
    font-size: 2em;
    margin-bottom: .25em;
}

.arcanoSignificado {
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: .25em;
}

@media (max-width: 1024px) {
    .result.show{
        flex-direction: column;
        width: 80vw;
        margin: 2% auto 5%;
        padding: 1em;
        border-radius: 1em;
        gap: 1em;
    }
    .arcano {
        height: 100%;
        width: auto;
        border-radius: 1em;
    }

}
